

.contact-support-container {
    max-width: 600px;
    margin: auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-top: 200px;

}

.contact-support-container h2 {
    color: #333;
}

.contact-support-container p {
    color: #666;
    margin-bottom: 10px;
}

.contact-info {
    margin-top: 20px;
}

.contact-info p {
    margin: 5px 0;
}

.contact-info a {
    color: #007BFF;
    text-decoration: none;
    font-weight: bold;
}

.contact-info a:hover {
    text-decoration: underline;
}

/*/////////////////////////////////////////////////////////////////////*/

#sidebar {
    position: fixed;
    grid-area: sidebar;
    height: 100;
    background-color: white;
    overflow-y: auto;
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
    z-index: 1;
}

.sidebar-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 30px 0px 30px;
    margin-bottom: 30px;
}

.sidebar-title > span {
    display: none;
}

.sidebar-brand {
    margin-top: 15px;
    font-size: 30px;
    font-weight: 700;
    color: #2e7d32;
}

.sidebar-list {
    padding: 0;
    list-style-type: none;
}

.sidebar-list-item {
    padding: 20px 20px 20px 20px;
    font-size: 18px;
}

.sidebar-list-item:hover {
    background-color: rgba(255, 255, 255, 0.2);
    cursor: pointer;
}

.sidebar-list-item > a {
    text-decoration: none;
    color: black;
}

.sidebar-responsive {
    display: inline !important;
    position: absolute;
    z-index: 12 !important;
}

/* End Sidebar  */



