.plantcards-headline{
    margin-bottom: 10px;
    margin-top: 25px;
    font-family: Nib,serif;
    font-size: 35px;
    color: #333333;
}
.plantitem-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    display: flex;
    text-decoration: double;
}

.plant-item {
    text-decoration: none;
    color: inherit;
    width: 25%;
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 8px;
    transition: transform 0.4s;
    height:260px;
    margin-top: 20px;
}

.plant-item:hover {
    transform: scale(1.05);
}

.plant-image {
    max-width: 20%;
}

.plant-image__img {
    max-width: 199px;
    margin-right: 20px;


}

.plant-info {
    flex: auto;
    margin-left: 140px;
    margin-top: 240px;


    .plant-title {
        font-size: 1.5em;
        margin-top: -210px;
         color: black;
        font-style: italic;

    }

    .plant-category {
        font-style: italic;
        color: #7b7b8b;
        margin-bottom: 10px;
        margin-top:10px;
        margin-right: 70px;
    }

    .plant-price{
        font-style: italic;
        color: #7b7b8b;
        margin-bottom: 4px;
        font-size: 1.0em;
        margin-right: 110px;
    }
}
.see-more-button {
    background-color: #54616f;
    color: #fff;
    border: none;
    padding: 5px 10px;
    font-size: 10px;
    cursor: pointer;
    border-radius: 4px;
    margin-bottom: 5px;
    margin-left:95%;
    transition: background-color 0.3s;
}

.see-more-button:hover {
    background-color: #0f4278;
}
.plant-actions{
    flex: auto;
    margin-top: -80px;

}
.add-to-cart-button {
    background-color:cadetblue;
    height: 40px;
    border-radius: 50px;
    color: #fff;
    padding: 10px 15px;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
    width: 122px;
    height: 40px;
    border-radius: 50px;

    margin-left: 220px;

}

.add-to-cart-button:hover {
    background-color: #45a049;
}







