.main_uploadContainer{
    display: flex;
    height: 89vh;
    align-items: center;
    justify-content: center;
}

.wrapperUpload{
    position: relative;
    width: 40%;
    height: 880px;
    background: transparent;
    border: 1px solid ;
    border-radius: 20px;
    display: flex;
    margin-top: 19%;
    justify-content: center;
    align-items: center;
}

.wrapperUpload.active{
    height: 520px;
}

.form-box_upload{
    width: 100%;
    padding: 30px;
}

.form-box_upload h2{
    font-size: 2em;
    color: #333333;
    text-align: center;
    margin-top: 5px;
}

.inputBox_upload{
    position: relative;
    width: 100%;
    height: 50px;
    border: 1px solid ;
    margin: 30px 0;

}

.inputBox_upload label{
    position: absolute;
    top: -20%;
    left: 8px;
    transform: translateY(-50%);
    font-size: 1em;
    color: #333333;
    font-weight: bold;
    pointer-events: none;
    transition: -8s;
}

.inputBox_upload input:focus~label,
.inputBox_upload input:valid~label{
    top: 19px;
}

.inputBox_upload input{
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    font-size: 0.9em;
    color:black;


}

.upload-btn{
    width: 40%;
    height: 45px;
    margin-left: 140px;
    margin-top: 3%;
    background: darkolivegreen;
    border-radius: 8px;
    cursor: pointer;
    font-size: 1em;
    color: #fff;
    font-weight: 500;
}

.inputbox_upload select,
.inputbox_upload input{
    position: relative;
    width: 100%;
    height: 50px;
    border: 1px solid;
    font-size: 15px;
    appearance: none;
}